* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(182, 225, 210);
  font-family: Arial, Helvetica, sans-serif;
}

.nav {
  width: 100%;
  height: 80px;
  background-color: rgb(94, 151, 138);
  display: flex;
  justify-content: center;
  align-items: center;
}


.nav nav ul {
  display: flex;
  gap: 28px;
  list-style: none;
}
